button, div, form, input {
    margin: 5px;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    max-width: 300px;
    max-height: 300px;
}

label {
    color:darkorange;
    background-color:black;
    padding: 10px;
    z-index: 1000;
}

.btn {
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #dddddd
}

.holder{
    float:left;
}

#background {
max-width: 1920px;
min-height: 100%;
width: 100%;
height: auto;
position: fixed;
z-index: -100; 

}

@media screen and (max-width: 1024px) {
    #background {
        left: 50%;
        margin-left: -512px;
    }
}

#form{
    float: right;
}